@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="display-1">Oops!</h1>
    <p>An error occurred while processing your request.</p>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> @Model.RequestId
        </p>
    }

    @if (Model.ExceptionMessage != null)
    {
        <div class="alert alert-danger" role="alert">
            <strong>Error:</strong> @Model.ExceptionMessage
        </div>
    }

    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Go back to the homepage</a>
</div>
