@page
@model ForgotPasswordConfirmation
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Xác nhận Email</title>

    <style>
        body {
            font-family: "Inter";
        }

        .main {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .image {
            text-align: center;
        }

        h1 {
            text-align: center;
            color: #5b46ca;
        }

        p {
            padding-bottom: 150px;
            text-align: center;
            color: #b3b3b5;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="image">
            <img src="/images/logoemail.jpg" alt="" width="250px" height="250px">
        </div>
        <h1>Vui lòng kiểm tra Email của bạn!</h1>
        <p>Để lấy lại mật khẩu bạn cần kiểm tra email xác thực.</p>
    </div>
</body>
</html>
