@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1> 

<p>
    Mật khẩu của bạn đã được reset. Vui lòng click <a href="~/Identity/Account/login">Login</a>
</p>
